.card1{
    border-radius: 50px;
    margin: 58px 70px;
    position: absolute;
}

.card2{
    border-radius: 50px;
    margin: 58px 470px;
  position: absolute;
}

.card3{
    border-radius: 50px;
    margin: 58px 829px;
   position: absolute;
}
.card4{
    border-radius: 50px;
    margin: 58px 1180px;
   position: absolute;
}
